body{
   margin:0;
   padding: 0;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   height: 100vh;
   font-family: sans-serif;
}

#container{
   width: 70%;
   height: auto;  
   margin:50px 0;
}


#title{
   font-size: 25px;
   margin-top: 20px;
}

#my-tasks{
   width: 70%;
   height: auto;
   margin-top: 50px;
}

.task{
   border-bottom: 1px solid black;
   margin-bottom: 25px;
}


.title{
   width: 100%;
   display: flex;
   height: 20px;
   text-align: center;
   align-items: center;
   justify-content:center;
}

.title .name{
   font-size: 20px;
   margin-right: 20px;
}
button{
   margin: 15px;
   width: 150px;
   height: 40px;
   font-size: 25px;
   cursor: pointer;
}
.title button{
   width: 20px;
   height: 20px;
   border: none;
   background-color:white;
   font-size: 15px;

}

a{
   text-decoration: none;
   color: black;
}
