# Node modules
node_modules/

# Env files
.env

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Build/Temp folders
dist/
build/
tmp/
temp/

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
