*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

body{
   display: flex;
   width: 100%;
   height: 100vh;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.container{
   display: flex;
   flex-direction: column;
   width: 50%;
   height: 90vh;
   align-items: center;
   text-align: center;
   gap: 50px;
}

form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
   font-size: 20px;
   width: 100%;
   height: auto;
}

form input{
   width: 100%;
   height: 40px;
   margin: 10px;
   font-size: 20px;
   padding: 5px;
}

form button{
   width: 80%;
   padding: 10px;
   margin-left: 12%;
   font-size: 20px;
}